<script>
	var createCashFlowList = function(op) {
		var $container = $(op.container);
		var initializeComponent = function(){
			$container.find("[name=year]").val(new Date().getFullYear());
			$container.find("[name=month]").val(new Date().getMonth() + 1);
		};
		var renderCashFlowList = function () {
			var options = {
				username: localStorage.getItem("username"),
				year: $container.find("[name=year]").val(),
				month: $container.find("[name=month]").val()
			};
			$.ajax({
				data: options,
				method: "GET",
				url: op.url,
			}).done(function(result) {
		        var renderCashFlowList = function (cashFlows) {
		        	var cashFlows = result.cashFlows;
		        	var total = 0;
		        	_(cashFlows).forEach(function (cashFlow) {
		        		total = total + cashFlow.Amount;
		        	});
			        var template = 
			"<div class='alert alert-{{Color}} clearfix' role='alert'>" +
			"	<div class='clearfix'>" +
			"		<div class='float-left info-container'>" + 
			"			<span class='d-block text-uppercase'>{{Date}}</span>" + 
			"			<strong class='d-block text-uppercase font-we'>{{CashFlowType}}</strong>" + 
			"		</div>" + 
			"		<div class='float-left'>" + 
			"  			<span>&euro;</span>&nbsp;<span class='display-3'>{{Amount}}</span>" + 
			"		</div>" + 
			//"		<div class='float-right'>" + 
			//"  			<button data-source-id='{{Id}}' class='btn btn-outline-{{Color}}'><span class='fa fa-trash'></span></button>" + 
			//"		</div>" + 
			"	</div>" +
			"	<div>" +
			"		<small>{{Notes}}</small>" +
			"	</div>" +
			"</div>";

			        var output = Mustache.render(template, {
			        	CashFlowType: "Total",
			        	Color: "success",
			        	Amount: total.toFixed(2),
			        	Date: options.month + "/" + options.year
			        });
			        $htmlcontainer = $container.find(".cash-flow-list-container");
		            $htmlcontainer.html("");
			        $htmlcontainer.append(output);

		            if(cashFlows.length != 0) {
			        	$htmlcontainer.append("<br/><hr/><br/>");
			            _(cashFlows).forEach(function (cashFlow) {
			                var output = Mustache.render(template, cashFlow);
			                $htmlcontainer.append(output);
			            });
		            }
		    	};
		    	renderCashFlowList(result);
			}); 
		};
		initializeComponent();

		$container.find("[name=year]").change(renderCashFlowList);
		$container.find("[name=month]").change(renderCashFlowList);

		return {
			refresh: renderCashFlowList
		};
	};
</script>