<div class="container app-content">
	<div class="form-group">
		<label for="user">User</label>
		<input type="text" class="form-control" id="user" name="user" autocomplete="false" placeholder="Enter User" />
</div>
</div> 