<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style type="text/css">
  .keyboard-button{
  	font-size: 1.3rem!important;
  }
  .plus-minus-button{
  	font-size: 1.3rem!important;
  }
  </style>
</head>

<body>


<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <% include ../partials/nav.ejs %>
  <main class="bmd-layout-content">

    <div class="container">
		<form id="cash-flow-form">
		    <div class="form-group">
		        <label for="date">Date</label>
		        <input type="text" class="form-control" id="date" name="date" autocomplete="false" placeholder="Enter date" />
		    </div>

		    <div class="form-group">
		        <label for="amount">Amount</label>
		        <input type="text" class="form-control" id="amount" name="amount" autocomplete="false" placeholder="Enter amount" />
		    </div>

			    <div class="row">
				  <button type="button" class="col-4 btn btn-secondary keyboard-button display-4" data-content="1">1</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button display-4" data-content="2">2</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button display-4" data-content="3">3</button>
			  	</div>
			    <div class="row">
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="4">4</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="5">5</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="6">6</button>
			  	</div>
			    <div class="row">
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="7">7</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="8">8</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="9">9</button>
			  	</div>

			    <div class="row">
				  <button type="button" class="col-4 btn btn-secondary plus-minus-button">+/-</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content="0">0</button>
				  <button type="button" class="col-4 btn btn-secondary keyboard-button" data-content=",">,</button>
			  	</div>



		    <div class="form-group">
		        <label for="amount">Notes</label>
		        <textarea type="number" class="form-control" id="notes" name="notes" autocomplete="false" placeholder="Any notes?"></textarea>
		    </div>

		    <div class="form-group">
		        <div class="btn-group-vertical w-100" id="cash-flow-types"></div>
		    </div>


		    <input type="hidden" name="cashFlowTypeId" />

		</form>
    </div>

  </main>
</div>


  <% include ../partials/scripts.ejs %>
      <script>
        $("#amount").focus();
        var now = moment().format('DD/MM/YYYY hh:mm');
        $("#date").val(now);

        var cashFlowTypes = [
            { id: 5, name: "Spesa", color: "warning" },
            { id: 10, name: "Spese Mediche", color: "success"  },
        ];

        var renderCashFlowTypes = function (cashFlows) {
            $container = $("#cash-flow-types");
            $container.html("");

            _(cashFlowTypes).forEach(function (cashFlowType) {
                var output = Mustache.render("<button type='button' data-type-id={{id}} class='cash-flow-button btn-lg rounded-0 btn btn-outline-{{color}}'>{{name}}</button>", cashFlowType);
                $container.append(output);
            });
        };

        renderCashFlowTypes(cashFlowTypes);

     
        var $view = $("#cash-flow-form");

        var submitCallback = function (e) {
            var target = e.target;
            var cashFlowTypeId = target.dataset.typeId;
            var amount = $("#amount").val();
            var date = $("#date").val();
            var notes = $("#notes").val();

            var data = {
                cashFlowTypeId: cashFlowTypeId,
                amount: amount,
                date: date
            };

            console.log("data", data);
        };

        var keyboardCallback = function (e) {
            var target = e.target;
            var content = target.dataset.content;
            var amount = $("#amount").val() || "";
            var newAmount = amount.toString() + content;
            $("#amount").val(newAmount);
        };

        var plusMinusCallback = function (e) {
            var target = e.target;
            var content = target.dataset.content;
            var amount = $("#amount").val() || "";
            var newAmount = "";
            if(amount.charAt(0) == "+") {
            	newAmount = "-" + amount.substring(1, amount.amount);
            } else if(amount.charAt(0) == "-") {
            	newAmount = "+" + amount.substring(1, amount.amount);
            } else {
				newAmount = "+" + amount.toString();
            }
            $("#amount").val(newAmount);
        };

        var eventModels = [
        	{ event: "click", target: ".cash-flow-button", callback: submitCallback },
        	{ event: "click", target: ".keyboard-button", callback: keyboardCallback },
        	{ event: "click", target: ".plus-minus-button", callback: plusMinusCallback }
        ];

        _(eventModels).forEach(function (eventModel) {
            $view.on(eventModel.event, eventModel.target, eventModel.callback);
        });
        
    </script>

</body>
</html>
