<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <% include ../partials/nav.ejs %>
  <main class="bmd-layout-content">

    <div class="container app-content">
      <div id="insert-cash-flow">
		    <% include ../partials/InsertCashFlow/template.ejs %>
      </div>

      <div id="cash-flow-list">
        <% include ../partials/CashFlowList/template.ejs %>
      </div>
    </div>

  </main>
</div>


<% include ../partials/scripts.ejs %>
<% include ../partials/InsertCashFlow/scripts.ejs %>
<% include ../partials/CashFlowList/scripts.ejs %>
<script>
  var goToInsertCashFlow = function() {
      console.log('Navigation: InsertCashFlow');

      $("#cash-flow-list").hide();
      $("#insert-cash-flow").show();
      renderInsertCashFlowForm();
  };

  var goToCashFlowLIst = function() {
      console.log('Navigation: CashFlowList');

      $("#insert-cash-flow").hide();
      $("#cash-flow-list").show();
      renderCashFlowList();
  };

  Router.navigate();
  Router
  .add("/", goToInsertCashFlow)
  .add(/InsertCashFlow/, goToInsertCashFlow)
  .add(/CashFlowList/, goToCashFlowLIst)
  .listen();

  Router.navigate("/InsertCashFlow/");
</script>
</body>
</html>
