<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <% include ../partials/nav.ejs %>
  <main class="bmd-layout-content">

    <div class="container app-content">
      <div id="insert-cash-flow">
		    <% include ../partials/insertcashflow_template.ejs %>
      </div>

      <div id="cash-flow-list">
        <% include ../partials/cashflowlist_template.ejs %>
      </div>   

      <div id="cash-flow-sum-list">
        <% include ../partials/cashflowlist_template.ejs %>
      </div>   

      <div id="pie-chart">
        <% include ../partials/pie_template.ejs %>
      </div>   

      <div id="history-chart">
        <% include ../partials/history_template.ejs %>
      </div>  
      
      <div id="user">
        <% include ../partials/user_template.ejs %>
      </div>  
    </div>

  </main>
</div>


<% include ../partials/scripts.ejs %>
<% include ../partials/insertcashflow_scripts.ejs %>
<% include ../partials/cashflowlist_scripts.ejs %>
<% include ../partials/pie_scripts.ejs %>
<% include ../partials/history_scripts.ejs %>
<% include ../partials/user_scripts.ejs %>
<script>
    var insertCashFlow = createInsertCashFlow();
    var cashFlowList = createCashFlowList({
        url: "/cashflow",
        container: "#cash-flow-list"
    });
    var cashFlowSumList = createCashFlowList({
        url: "/cashflowsum",
        container: "#cash-flow-sum-list"
    });
    var pieSection = createPieSection({
        url: "/cashflowsum",
        container: "#pie-chart"
    });
    var historySection = createHistorySection({
        url: "/CashFlowHistory",
        container: "#history-chart"
    });
    var userSection = createUserSection({
        url: "/User",
        container: "#user"
    });

  var goToInsertCashFlow = function() {

      $("#history-chart").hide();
      $("#pie-chart").hide();
      $("#cash-flow-list").hide();
      $("#cash-flow-sum-list").hide();
      $("#insert-cash-flow").show();
    $("#user").hide();
      insertCashFlow.refresh();
  };

  var goToCashFlowLIst = function() {

      $("#history-chart").hide();
      $("#pie-chart").hide();
      $("#insert-cash-flow").hide();
      $("#cash-flow-sum-list").hide();
      $("#cash-flow-list").show();
    $("#user").hide();
      cashFlowList.refresh();
  };

  var goToCashFlowSumLIst = function() {

      $("#history-chart").hide();
      $("#pie-chart").hide();
      $("#insert-cash-flow").hide();
      $("#cash-flow-list").hide();
      $("#cash-flow-sum-list").show();
    $("#user").hide();
      cashFlowSumList.refresh();
  };

  var goToPieChart = function() {

      $("#history-chart").hide();
      $("#pie-chart").show();
      $("#insert-cash-flow").hide();
      $("#cash-flow-list").hide();
      $("#cash-flow-sum-list").hide();
    $("#user").hide();
      pieSection.refresh();
  };

  var goToHistoryChart = function() {

      $("#history-chart").show();
      $("#pie-chart").hide();
      $("#insert-cash-flow").hide();
      $("#cash-flow-list").hide();
      $("#cash-flow-sum-list").hide();
    $("#user").hide();
      historySection.refresh();
  };

  var goToUser = function() {
    $("#history-chart").hide();
    $("#pie-chart").hide();
    $("#insert-cash-flow").hide();
    $("#cash-flow-list").hide();
    $("#cash-flow-sum-list").hide();
    $("#user").show();
    userSection.refresh();
  };

  Router.navigate();
  Router
  .add("/", goToInsertCashFlow)
  .add(/InsertCashFlow/, goToInsertCashFlow)
  .add(/CashFlowList/, goToCashFlowLIst)
  .add(/CashFlowSumList/, goToCashFlowSumLIst)
  .add(/PieChart/, goToPieChart)
  .add(/History/, goToHistoryChart)
  .add(/User/, goToUser)
  .listen();

  Router.navigate("/InsertCashFlow/");
</script>
</body>
</html>
  